<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
	<title>CSCB20 - Home</title>
</head>

<body>
	<header class="header">
		<img src="../static/images/uoft.png" alt="UofT" id="logo">
		<ul class="main-nav">
			<li><a href="dashboard">Dashboard</a></li>
			<li><a href="/">Home</a></li>
			<li><a href="syllabus">Syllabus</a></li>
			<li><a href="assignments">Assignments</a></li>
			<li><a href="labs">Labs</a></li>
			<li><a href="course_team">Course Team</a></li>
			<li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
			<li><a href="feedback">Feedback</a></li>
			<li><a href="logout">Logout</a></li>
		</ul>
	</header>

	<div class="container-1">
		<div id="home-header-title">
			 <h1><strong>CSCB20</strong> Introduction to Databases & Web Applications</h1>
			 <h3>Winter 2019</h3>
		 </div>
	</div>

	<div class="container-2">
		<div id="course-material">
			<div id="course-description">
				<h3>Course Description</h3>
				<p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases;
					the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated
					content; Web application development and interface with databases.
				</p>
			</div>
			<hr>
			<div id="prerequisite">
				<h3>Required Background</h3>
				<p>Some experience with programming in an imperative language such as Python, Java or C.</p>
				<p>This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
			</div>
		</div>

		<div id="announcements">
			<h3>Announcements</h3>
			<p>Do not forget to submit your A3 today!
			</p>
		</div>
	</div>

	<div class="container-2">
		<div id="calendar">
					<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=jadenyjw%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FToronto" style="border-width:0" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>

	<footer>
		<a href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty Of CS</a>
		<h6>Designed by Reizwan and Jaden</h6>
	</footer>
</body>
</html>
