<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/subpages.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Overpass"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico" />
    <title>CSCB20 - Syllabus</title>
  </head>

  <body>
    <header class="header">
      <img src="../static/images/uoft.png" alt="UofT" id="logo" />
      <a href="/">
        <h1>CSCB20</h1>
      </a>
      <ul class="main-nav">
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="syllabus">Syllabus</a></li>
        <li><a href="assignments">Assignments</a></li>
        <li><a href="labs">Labs</a></li>
        <li><a href="course_team">Course Team</a></li>
        <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
        <li><a href="feedback">Feedback</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </header>

    <div class="container-1">
      <div id="home-header-title">
        <a href="../static/PDFs/B20Winter2019CourseSyllabus.pdf" target="_blank"
          ><h1>Syllabus</h1></a
        >
      </div>
    </div>

    <div class="container-2">
      <div class="template">
        <div>
          <h3>Course Description</h3>
          <p>
            A practical introduction to databases and Web app development.
            Databases: terminology and applications; creating, querying and
            updating databases; the entity-relationship model for database
            design. Web documents and applications: static and interactive
            documents; Web servers and dynamic server-generated content; Web
            application development and interface with databases.
          </p>
        </div>
        <hr />
        <div>
          <h3>Required Background</h3>
          <p>
            Some experience with programming in an imperative language such as
            Python, Java or C.
          </p>
          <p>
            This course may not be taken after - or concurrently with - any C-
            or D-level CSC course.
          </p>
        </div>
      </div>

      <div class="template">
        <div>
          <h3>Course Information & Schedule</h3>
          <ul>
            <li><strong>Instructor:</strong> Abbas Attarwala</li>
            <li><strong>Lecture:</strong> Mondays 9-11am in HL 001</li>
            <li><strong>Tutorials:</strong> Check ACORN</li>
            <li>
              <strong>Email:</strong>
              <a href="mailto:abbas.attarwala@utoronto.ca"
                >abbas.attarwala@utoronto.ca</a
              >
            </li>
            <li>
              <strong>Website:</strong>
              <a href="index.html"> CSC20 Winter 2019</a>
            </li>
          </ul>
        </div>
        <hr />
        <div>
          <h3>Grading Scheme & Policies</h3>
          <ul>
            <li><strong>Assignments:</strong> 22%</li>
            <li><strong>Practical:</strong> 4%</li>
            <li><strong>Midterm Exam:</strong> 20%</li>
            <li><strong>Quizzes:</strong> 8%</li>
            <li><strong>Final Exam:</strong> 46%</li>
          </ul>
        </div>
      </div>

      <div class="template">
        <div>
          <h3>Textbook</h3>
          <p>
            For a course like this, no single textbook will represent the course
            expectations well. However, what I will dois provide you weekly
            reading material (some of which will be mandatory) from other
            universities, and otherplaces from the web. This material will
            supplement well with what is taught in the class.
          </p>
        </div>
        <hr />
        <div>
          <h3>Lecture Notes</h3>
          <p>
            Lecture notes will be available on Blackboard. You are EXPECTED to
            read the assigned readings beforecoming to lecture.
          </p>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="template">
        <div>
          <a href="assignments.html"><h3>Assignments</h3></a>
          <p>
            There are three assignments. You may be asked to work in pairs in
            some of these assignments. Please check theassignment handout for
            these details for the exact due date and whether you can work in
            groups or not. DO NOT EMAIL YOUR ASSIGNMENTS TO US. We will use
            MARKUS for the submission of all assignments. ALL ASSIGNMENTS WILL
            MARKED ON UTSC LAB MACHINES. IT IS IMPORTANT BEFORE SUBMITTING
            YOURASSIGNMENT, TO MAKE SURE THAT IT COMPILES AND EXECUTES ON THE
            UTSC LAB MACHINES. A STRICT silent policy takes effect 12 hours
            before an ASSIGNMENT or EXAM is due. This means no questionabout the
            assignment will be answered by the instructor or the TA whether it
            is asked on the bulletin board, byemail or in person. I will make
            sure to follow the due dates mentioned in the course syllabus,
            however, if the duedates on the assignment handout differ from this
            course syllabus handout, the due dates on the assignment handoutwill
            supersede.
          </p>
          <div class="row">
            <h4 class="item">Assignment:</h4>
            <h4 class="item">Weight:</h4>
            <h4 class="item">Due Date:</h4>
          </div>
          <div class="row">
            <h4 class="item">Assignment 1</h4>
            <h4 class="item">5%</h4>
            <h4 class="item">02/03/2019</h4>
          </div>
          <div class="row">
            <h4 class="item">Assignment 2</h4>
            <h4 class="item">7%</h4>
            <h4 class="item">03/13/2019</h4>
          </div>
          <div class="row">
            <h4 class="item">Assignment 3</h4>
            <h4 class="item">10%</h4>
            <h4 class="item">03/27/2019</h4>
          </div>
        </div>
      </div>

      <div class="template">
        <div>
          <h3>Quizzes</h3>
          <p>
            You will have around 24 hours or less to work on the quizzes.
            Quizzes will not happen in lecture, and you can work on these
            quizzes outside the classroom. However, explicit instructions will
            be provided on how you would submit these quizzes to us. More
            details on the submission instructions will be made available in due
            time.
          </p>
          <div class="row">
            <h4 class="item">Quiz:</h4>
            <h4 class="item">Weight:</h4>
            <h4 class="item">Due Date:</h4>
          </div>
          <div class="row">
            <h4 class="item">Quiz 1</h4>
            <h4 class="item">2%</h4>
            <h4 class="item">01/25/2019</h4>
          </div>
          <div class="row">
            <h4 class="item">Quiz 2</h4>
            <h4 class="item">2%</h4>
            <h4 class="item">02/08/2019</h4>
          </div>
          <div class="row">
            <h4 class="item">Quiz 3</h4>
            <h4 class="item">2%</h4>
            <h4 class="item">03/15/2019</h4>
          </div>
          <div class="row">
            <h4 class="item">Quiz 4</h4>
            <h4 class="item">2%</h4>
            <h4 class="item">03/29/2019</h4>
          </div>
        </div>
        <hr />
        <div>
          <h3>Re-Marks</h3>
          <p>
            If a piece of work has been mismarked or if you believe the rubric
            used to evaluate the work is not appropriate,you may request a
            remark. For a re-mark to succeed, you must clearly and concisely
            express what you believe wasmis-marked or unfairly marked. To
            request a remark, set up an appointment with the instructor and the
            TA thathas marked your assignment/exam. PLEASE DO NOT USE THE
            DISCUSSION BOARD REQUESTING FORREMARKS. Be prepared for the entire
            work to be re-evaluated and for the mark to be adjusted upordown
            afterthe re-evaluation. Remark request MUST be made in three regular
            days after the mark is made available. No remarkrequest will be
            accepted after three regular days.
          </p>
        </div>
      </div>

      <div class="template">
        <div>
          <h3>Tutorials</h3>
          <p>
            During tutorials, attendance is mandatory, and on some occasions,
            the TA will take attendance and assign you smallin lab exercises.
            Tutorials are a great way for you to get some hands-on practice at
            programming. There is nolabs/tutorial scheduled in the first week.
            All tutorials begin from the 2nd week of the semester. We will award
            thetutorial marks based on attendance. However, in some tutorials,
            TA’s may also assign you small component, andon successfully
            completing this component, you will be assigned full credit for that
            lab. So it is important that youattend these tutorials and not skip
            them!
          </p>
        </div>
        <hr />
        <div>
          <h3>Final Exam</h3>
          <p>
            There is a 2hrs (or maybe 3hrs) final exam. The final exam is
            comprehensive, and you must obtain a mark of atleast 40% to pass the
            course; otherwise, a grade of no higher than 47% will be assigned.
          </p>
        </div>
        <hr />
        <div>
          <h3>Late Policy</h3>
          <p>
            There are no grace days; all due dates are firm. In case of illness,
            please have a doctor complete an official U of T medical
            certificate. For other emergencies, be prepared for us to request
            some documentation.If you submit an assignment late or miss a
            midterm test due to illness or personal issue, first contact the
            instructor assoon as possible. Then, please follow the procedure
            described at https://www.utsc.utoronto.ca/aacc/petitions. For
            coursework petitions, aPetition Form for Term Workform needs to be
            filled and given to the course instructor.This will not be accepted
            if submitted two days after the due date.
          </p>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="template">
        <div>
          <h3>Plagiarism</h3>
          <p>
            Plagiarism and cheating will not be tolerated. These are serious
            academic offences with severe consequencesthat you should be aware
            of; for details, please read the information inChapter 6: Academic
            Regulations available at
            http://www.utsc.utoronto.ca/aacc/academic-integrity. You can also
            visit http://www.utsc.utoronto.ca/aacc/academic-integrity. If you
            any questions about cheating or plagiarism, ask your instructor.
          </p>
        </div>
        <hr />
        <div>
          <h3>Accessibility Needs</h3>
          The University of Toronto is committed to accessibility. If you
          require accommodations for a disability, or have anyaccessibility
          concerns about the course, the classroom or course materials, please
          contact Accessibility Services as soon as possible:
          disability.services@utoronto.ca or
          http://www.utsc.utoronto.ca/~ability/.
        </div>
      </div>

      <div class="template">
        <div>
          <h3>Rough Plan</h3>
          <p>
            Please check on Quercus for the actual weekly schedule. Changes to
            the schedule will be announced in class as well. The main topics
            that we will cover in this course are:
          </p>
          <ul>
            <li>
              Databases: Terminology and applications, Creating, querying and
              updating databases, The E-R model fordatabase design
            </li>
            <li>
              Web Applications: Static and Interactive Documents, Web servers
              and dynamic server-generated content; Webapplication development
              and integration with databases.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <a href="https://www.utsc.utoronto.ca/cms/computer-science-1"
        >Faculty Of CS</a
      >
      <h6>Designed by Reizwan and Jaden</h6>
    </footer>
  </body>
</html>
